.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.center {
  align-items: center;
  justify-content: center;
}

.imgContainer {
  position: relative;
  width: 100%;
}

.imgContainer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.imgWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
}
